<!-- Header -->
<header id="top" class="header">
  <div class="content">
    <h1>David Zhang</h1>
    <br>
    <p>I am a software engineering student at the University of Waterloo
    <br><br>

    <div class="row">
    	<div class="col-xs-6 col-sm-3">
    		<a href="https://github.com/mcmadbat" class="btn btn-light btn-lg"><i class="fa fa-github fa-2x"></i></a>
    	</div>
    	<div class="col-xs-6 col-sm-3">
    		<a href="https://twitter.com/mcmadbat" class="btn btn-light btn-lg"><i class="fa fa-twitter fa-2x"></i></a>
    	</div>
    	<div class="col-xs-6 col-sm-3">
    		<a href="http://www.last.fm/user/mcmadbat3" class="btn btn-light btn-lg"><i class="fa fa-lastfm fa-2x"></i></a>
    	</div>
    	<div class="col-xs-6 col-sm-3">
    		<a href="https://www.linkedin.com/in/david-z-183804a7?trk=hp-identity-name" class="btn btn-light btn-lg"><i class="fa fa-linkedin fa-2x"></i></a>
    	</div>
    </div>
   
  </div>
</header>