<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <h1>David Zhang</h1>
        <h4>First name is David last name is Zhang</h4>
        <br>
        <a href="https://twitter.com/mcmadbat" class="btn btn-light btn-lg"><i class="fa fa-twitter fa-2x"></i></a>
        <a href="https://github.com/mcmadbat" class="btn btn-light btn-lg"><i class="fa fa-github fa-2x"></i></a>
        <a href="http://www.last.fm/user/mcmadbat3" class="btn btn-light btn-lg"><i class="fa fa-lastfm fa-2x"></i></a>
    </div>
</header>